fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary # Use psycopg2 instead of psycopg for broader compatibility
pydantic-settings
pydantic
email-validator
redis
python-dotenv
alembic
passlib[bcrypt]
bcrypt<4
python-jose[cryptography]
stripe
boto3
twilio
postmark
docusign-esign
python-multipart
Jinja2==3.1.4
Markdown==3.6
WeasyPrint==62.3
